<audio autoplay loop id="playAudio">
    <source src="/game/sound/background_music.mp3" type="audio/mp3" style="display: hidden;">
</audio> 
<link rel="stylesheet" href="/game/css/dashboard.css"/>

<div id ="header">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <p class="lead mb-3">Current max score: <%= user.score %></p>

    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <a href="/game/home.html" class="btn btn-secondary">Play game</a>    
</div>
<div>
    <table style="width:100%; margin-top:10px">
        <tr>
            <th colspan="2">Top scorers</th>
          </tr>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
        <% for (let i = 0; i < scorers.length; i++){ %>
            <% if(scorers[i]) { %>
                <tr>
                    <td><%= scorers[i].name %></td>
                    <td><%= scorers[i].score %></td>
                </tr>
            <% } %> 
        <% } %>       
      </table>
</div>