<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/game/home.html" class="btn btn-secondary">Play game</a>
<audio autoplay loop id="playAudio">
    <source src="/game/sound/background_music.mp3" type="audio/mp3" style="display: hidden;">
</audio> 