<!-- <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<head>
    <title>My game</title>
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    <a href="/game/home.html" class="btn btn-secondary">Play game</a>
    <!-- <script src="./game/js/main.js"></script> -->
</head>
<body>
    <canvas id="screen" width="1600" height="1600"></canvas>
</body>
