<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/game/css/main.css"/>
    <title>Hunting Eagles world</title>
    <style>

    body{
        height:100vh;
    }

    .instruction  div {
      width: 200px;
      margin: 30px;
    }

    .instruction h2 {
      font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
      margin: 0;
      padding: 0;
    }

    .instruction ul li {
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid #ccc;
    }

    .instruction ul li:last-child {
      border: none;
    }
    .account-card{
      background-color: #aaccbb;
    }
    .account-card a{
      font-weight: bold;
    }
    .login-card{
      background-color: #b2d4c9;
    }

</style>
  </head>
  <body>
    <div class="container" style="height: 100%;"><%- body %></div>
    <!-- <iframe src="/game/sound/silience.mp3" id="slienceAudio" allow="autoplay" id="audio" style="display: none"></iframe> -->
  

    <!-- <audio loop id="slienceAudio">
      <source src="/game/sound/background_music.mp3" type="audio/mpeg" style="display: hidden;">
    </audio>  -->

    <!-- <script
      src = "/game/triggerSound.js"></script>    -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
