<audio autoplay loop id="playAudio">
  <source src="/game/sound/background_music2.mp3" type="audio/mp3" style="display: hidden;">
</audio> 
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body account-card">
      <h1 class="text-center mb-3">Login</h1>
      <div style="align-self: center;">
        <img src="../game/img/player0.png" style="width: 40px; align-self: center;">
        <img src="../game/img/fire.gif" style="width: 40px; align-self: center;">
        <img src="../game/img/eagle5.png" style="width: 40px; align-self: center;">
      </div>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
      <a href="/">Go back to home page</a>
    </div>
  </div>
</div>
