<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
      <div>
        <img src="./game/img/player0.png" style="width: 40px; align-self: center;">
        <img src="./game/img/fire.gif" style="width: 40px; align-self: center;">
        <img src="./game/img/eagle5.png" style="width: 40px; align-self: center;">
      </div>
      
      <h3>Welcome to Eagle Hunter game</h3>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
<div>
  <div class = "instruction">
    <h2>Notes</h2>
    <ul>
      <li>This game currently best supports for Google Chrome/Microsoft Edge browsers. Other types may not have the best experience.</li>
      <li>This is a desktop web application game and does not support mobile and tablet devices.</li>
      <li>The game has nice background music, make sure you have your volume on.</li>
    </ul>
    <h3 style="margin-top: 30px;">User story</h3>
    <ul>
      <li>As a hunter, you will try to shoot as many eagles as possible.</li>
      <li>You are provided magic fire balls to hunt eagles.</li>
      <li>You will earn a point for each eagle killed. However, each time you touch the eagle, you lose some health points (hp).</li>
      <li>At the end, your game will only update your score if you achieve a better previous score.</li>
      <li>Try to move quick but be careful with the fire trap. You will get burned each time you touch the fire trap.</li>
    </ul>

    <h3 style="margin-top: 30px;">Instructions how to play the game</h3>
    <ul>
      <li>Use you left hand to control the movements of the hunter
        <ul>
          <li>Press and hold key "A" on the keyboard to move left.</li>
          <li>Press and hold key "D" on the keyboard to move right.</li>
          <li>Hit key "Space" on the keyboard to jump.</li>
          <li>Press and hold key "w" to swim up.</li>
          <li>Press and hold key "S" to swim down.</li>
        </ul>
      </li> 
      <li>Use your right hand to shoot the eagle
        <ul>
          <li>Hit key "J" to shoot the fireball. You can shoot as many as you want.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
